include ../partials/header.pug



main
  .player.player--add
    div
      button.btn.btn--border Add player!
        span
  .player.player--add
    div
      button.btn.btn--border Add player!
        span
  .player.player--add
    div
      button.btn.btn--border Add player!
        span
  .player.player--add
    div
      button.btn.btn--border Add player!
        span

include ../partials/footer.pug